*{
    margin: 0;
    padding:0;
    border: 0;
    font-size: 18px;
    font-family: Lato;
    }
body{
    margin-top:45px;
}
.container{
    max-width: 1240px;
    width:90%;
  
}
p{
    margin:0
}
.roboto{
    font-family:Roboto
}

#title {
    color:#d04f4f;
    margin:0 auto;
    white-space: nowrap;
    width:min-content;
    margin-bottom:20px;
    font-size:36px;
    font-family: "DM Sans"

}

input, input:focus{
   outline:0;
    
}
h5 {
    font-size: 18px;
}

#logo {
    margin:0 auto;
    margin-bottom: 10px;
}
#search-container{
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-bottom:20px;
   
}
#search {
    box-sizing: border-box;
    background-color: #e7e7e7;
    border-radius: 5px;
    height: 70px;
    padding-left:20px;
    
}
#search::placeholder{
    color:#adadad;
    font-size: 18px;
}

.btn {
    margin-right:20px;
    height:71px;
    padding:0;
    min-width: 170px;  
    z-index:99;
}

.blue{
    background-color:#3282f7;
}
.green {
    background-color:#68d9a4;
}
.red {
    background-color:#ed6454;
}
.filter-btn::placeholder{
    color:white;
    font-size: 18px;
 
}
.filter-btn{
   
    height:70px;
    border-radius: 5px;
    padding-left: 20px; 
    font-size: 16px;
    font-weight: 500;   
    width:115px;
    color:white;
    
}
.btn-arrow {
    height:70px;
    color:white;
    margin-right:20px;
}
header{
    margin-bottom: 20px;
}
.card{
    padding:0;
    height:365px;
    width:380px;
    min-width: 380px;
    max-width:380px;
 

    margin-bottom:50px !important;
}
.card-body{
    padding-right:10px;
}
.card-text  {
   
    line-height:12px ;
    font-size: 12px;  
    width:170px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  
   
}
.card-img-op{
    min-height: 178px;
}

.line-height, .line-height p, .line-height b{
   
    font-size: 12px;
}
#container-main{

    
    padding:0;
    
}
